@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


:root{
    --basefont:'Space Mono', monospace;
    --black: rgba(0, 0, 0, 1);
}

body{
   font-family: var(--basefont);
}

h1{
    font-weight: 700;
    font-size: 64px;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 50px;
}

a{
    margin-top: 20px;
    display: inline-block;
    font-weight: 700px;
    font-size: 16px;
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}

.container{
    align-items: center;
    height: 100vh;
    margin: auto;
    display: flex;
    max-inline-size: 1280px;
    gap: 30px;
}

.boxImg {
    inline-size: 50%;
}

.boxImg img {
    inline-size: 100%;
}

.boxText{
    inline-size: 50%;
}



