.box {
    width: 200px;
    height: 200px;
    position: fixed;
  
}

.red {
    background-color: red
  
}
   
.blue {
    right: 0px;
    top: 0;
    background-color: rgb(43, 0, 255)
    
  
}

.violet{
    left: 0px;
    bottom: 0px;
    background-color: rgb(85, 0, 255)
  
}

.green{
    right: 0px;
    bottom: 0px;
    background-color: rgb(52, 223, 114)
  
}

